

<div class="grid-container actionCards">
    <h3 class="cardTitles">{{this.title}}</h3>
    <div class="grid-x grid-padding-x">

        <fieldset class="large cell">
            {{#each Questions}}
            <legend>{{this.title}}</legend>
            {{#each Answers}}
            <input name="answerOption-{{QuestionId}}" id="{{this.id}}" type="radio" class="answerOption" data-correctanswer="{{this.correctAnswer}}"><label
                for="{{this.id}}">{{this.answer}}</label>
            {{/each}}
            {{/each}}
        </fieldset>
    </div>

    <br>

    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
            <button class="button primary" id="goBack">Go Back</button>
        </div>
        <div class="medium-6 cell">
            {{!-- Check answers on submit --}}
            <button data-quizid = "{{this.id}}" class="button primary" id="submitAnswers">Submit</button>
        </div>
    </div>
</div>