<h3>{{this.title}}</h3>

<div class="grid-container">

    <div class="grid-x grid-padding-x">

        <fieldset class="large cell">
            {{#each Questions}}
            <legend>{{this.title}}</legend>
            {{#each Answers}}
            <input name="answerOption-{{QuestionId}}" id="{{this.id}}" type="radio" class="answerOption" data-IsCorrect="{{this.IsCorrect}}"><label
                for="{{this.id}}">{{this.answer}}</label>
            {{/each}}
            {{/each}}
        </fieldset>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
            <button id="goBack">Go Back</button>
        </div>
        <div class="medium-6 cell">
            {{!-- Check answers on submit --}}
            <button id="submitAnswers">Submit</button>
        </div>
    </div>
</div>