<div class="grid-container">
  <div class="grid-padding-y grid-y">
    {{!-- Take a quiz card --}}
    <div class="cell small-12 large-6">
      <div class="actionCards">
        <div id="takeQuiz" class="card-section">
          <h3 class="cardTitles">Take a Quiz!</h3>
          <br>
          <p>Enter your access code below to get started:</p>
          <form id="accesscodeForm">
            <input name="accesscode" type="text" placeholder="Access Code">
            <div id="accessCodeError"></div>
            <button class="button primary" type="submit">Go!</button>
          </form>
        </div>
      </div>
    </div>

    {{!-- Create a quiz card --}}
    <div class="cell small-12 large-6">
      <div class="actionCards">
        <div class="card-section">
          <h3 class="cardTitles">Create a Quiz!</h3>
          <br>
          <p>Click to begin creating a shareable quiz:</p>
          <a href="/createquiz"><button class="button primary">Go!</button></a>
        </div>
      </div>
    </div>

    {{!-- Created quizzes table --}}
    {{#if User.Quizzes}}
    <div class="cell small-12 large-6">
      <div class="actionCards">
        <div class="card-section">
          <h3 class="cardTitles">Your Creations</h3>
          <table>
            <tbody>
              {{#each User.Quizzes}}
              <tr>
                <td class="tdText">{{this.title}}</td>
                <td>
                  <a href="/leaderboard/{{this.id}}">
                    <button class="button">Leaderboard</button>
                  </a>
                </td>
                <td>
                  {{#if this.isDeleted}}
                  {{else}}
                  <a href="/quiz/delete/{{this.id}}">
                    <button class="button delete" data-id="{{this.id}}">Delete</button>
                  </a>
                  {{/if}}
                </td>

              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{/if}}

    {{!-- Taken quizzes table --}}

    <div class="cell small-12 large-6 hide" id="quizzesTaken">
      <div class="actionCards">
        <div class="card-section">
          <h3 class="cardTitles">Quizzes you've taken</h3>
          <table>
            <tbody id="quizzesTakenInfo">
              {{!-- info injected here --}}
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>
<<<<<<< HEAD
<script src="/assets/js/takeQuiz.js"></script>
<script src="assets/js/profile.js"></script>
=======
<script src="/assets/js/takeQuiz.js"></script>
>>>>>>> development
